<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Edit Address</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Street + No.</mat-label>
                <input [disabled]="loading" s [(ngModel)]="user.street" matInput
                    placeholder="Please enter your Street + No..">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Zip code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput
                    placeholder="Please enter your Zip code.">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="Please enter your City.">
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="" cdkFocusInitial>No Thanks</button>
        <button mat-button (click)="saveUser()">Save</button>
    </div>
</div>