.mat-drawer-container {
    height: 100vh;
}

.sidenav {
    width: 300px;
   
}

.logo-box {
    border-bottom: 1px black solid;
     padding: 16px;
     display: flex;
     justify-content: center;
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover{
            background-color: rgba(0, 0, 0, 0.25);
        }

        mat-icon {
            margin-right: 16px;
        }
    }
}

.mat-toolbar {
    min-height: 56px;
}

.mat-toolbar-row {
    height: 56px;
}

.mat-toolbar-row .mat-toolbar{
    min-height: 56px;
}

.menu-icon {
    cursor: pointer;
    margin-right: 18px;    
}